In [1]:
import pandas as pd
import numpy as np

In [3]:
data = {'Price' :[110,105,115,120,110,130,150,100,105]}
df = pd.DataFrame(data)
df.head()

   Price
0    110
1    105
2    115
3    120
4    110

Normalization

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler ()

In [5]:
df['Normalized'] = scaler.fit_transform(df[['Price']])
df.head()

   Price  Normalized
0    110         0.2
1    105         0.1
2    115         0.3
3    120         0.4
4    110         0.2

Standardization

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
std = StandardScaler ()

In [8]:
df['Standardization'] = std.fit_transform(df[['Price']])
df.head()

   Price  Normalized  Standardization
0    110         0.2        -0.416356
1    105         0.1        -0.757011
2    115         0.3        -0.075701
3    120         0.4         0.264954
4    110         0.2        -0.416356

Log Transformation

In [12]:
from sklearn.preprocessing import FunctionTransformer

In [14]:
log_tr = FunctionTransformer(np.log1p)

In [15]:
df['Log Transformation'] = log_tr.fit_transform(df[['Price']])
df.head()

   Price  Normalized  Standardization  Robust Scaler  Log Transformation
0    110         0.2        -0.416356       0.000000            4.709530
1    105         0.1        -0.757011      -0.333333            4.663439
2    115         0.3        -0.075701       0.333333            4.753590
3    120         0.4         0.264954       0.666667            4.795791
4    110         0.2        -0.416356       0.000000            4.709530

Robust Scaler

In [9]:
from sklearn.preprocessing import RobustScaler

In [10]:
rbsc = RobustScaler()

In [20]:
df['Robust Scaler'] = rbsc.fit_transform(df[['Price']])
df.head(9)

,Price,Normalized,Standardization,Robust Scaler,Log Transformation,Max Absolute Scaler
0,110,0.2,-0.416356,0.000000,4.709530,0.733333
1,105,0.1,-0.757011,-0.333333,4.663439,0.700000
2,115,0.3,-0.075701,0.333333,4.753590,0.766667
3,120,0.4,0.264954,0.666667,4.795791,0.800000
4,110,0.2,-0.416356,0.000000,4.709530,0.733333
5,130,0.6,0.946264,1.333333,4.875197,0.866667
6,150,1.0,2.308884,2.666667,5.017280,1.000000
7,100,0.0,-1.097666,-0.666667,4.615121,0.666667
8,105,0.1,-0.757011,-0.333333,4.663439,0.700000

Max Absolute Scaler

In [17]:
from sklearn.preprocessing import MaxAbsScaler

In [18]:
mx_adsc = MaxAbsScaler()

In [19]:
df['Max Absolute Scaler'] = mx_adsc.fit_transform(df[['Price']])
df.head()

,Price,Normalized,Standardization,Robust Scaler,Log Transformation,Max Absolute Scaler
0,110,0.2,-0.416356,0.000000,4.709530,0.733333
1,105,0.1,-0.757011,-0.333333,4.663439,0.700000
2,115,0.3,-0.075701,0.333333,4.753590,0.766667
3,120,0.4,0.264954,0.666667,4.795791,0.800000
4,110,0.2,-0.416356,0.000000,4.709530,0.733333